appnope==0.1.0
asn1crypto==0.24.0
attrs==20.2.0
Automat==0.7.0
backcall==0.1.0
beautifulsoup4==4.8.0
bio==0.1.0
biopython==1.76
bleach==3.1.0
bs4==0.0.1
certifi==2019.11.28
cffi==1.12.3
chardet==3.0.4
click==7.1.2
colorama==0.4.1
configparser==5.0.0
constantly==15.1.0
crayons==0.3.0
cryptography==2.7
cssselect==1.0.3
cvxopt==1.2.4
cycler==0.10.0
Cython==0.29.16
dbsession==0.6.7
decorator==4.4.0
defusedxml==0.6.0
dnspython==1.16.0
docopt==0.6.2
dominate==2.5.1
eli5==0.10.1
entrypoints==0.3
flake8==3.8.3
Flask==1.1.2
Flask-Bootstrap==3.3.7.1
flask-nav==0.6
flask-paginate==0.7.0
Flask-WTF==0.14.3
geographiclib==1.50
geopy==2.0.0
graphviz==0.13.2
gunicorn==20.0.4
hmmlearn==0.2.3
hyperlink==19.0.0
idna==2.7
incremental==17.5.0
ipykernel==5.1.1
ipython==7.6.1
ipython-genutils==0.2.0
ipywidgets==7.5.0
itsdangerous==1.1.0
jedi==0.14.1
Jinja2==2.11.2
joblib==0.14.1
json5==0.8.5
jsonschema==3.0.1
jupyter==1.0.0
jupyter-client==5.3.1
jupyter-console==6.0.0
jupyter-core==4.6.3
jupyterlab==1.2.4
jupyterlab-server==1.0.6
kaggle==1.5.6
kiwisolver==1.1.0
lxml==4.5.0
MarkupSafe==1.1.1
matplotlib==3.1.2
mccabe==0.6.1
missingno==0.4.2
mistune==0.8.4
mysql==0.0.2
mysql-connector-python==8.0.17
mysqlclient==2.0.1
nbconvert==5.5.0
nbformat==4.4.0
networkx==2.4
notebook==6.0.0
numpy==1.18.1
oauthlib==3.1.0
opencv-python==4.2.0.32
pandas==0.25.3
pandocfilters==1.4.2
parsel==1.5.1
parso==0.5.1
pathlib==1.0.1
pexpect==4.7.0
pi==0.1.2
pickleshare==0.7.5
Pillow==7.0.0
pipreqs==0.4.10
plaid==0.1.7
plaid-python==5.0.0
plot==0.6.5
prometheus-client==0.7.1
prompt-toolkit==2.0.9
Protego==0.1.16
psycopg2-binary==2.8.5
ptyprocess==0.6.0
py4j==0.10.9
pyasn1==0.4.5
pyasn1-modules==0.2.5
pycodestyle==2.6.0
pycparser==2.19
PyDispatcher==2.0.5
pyflakes==2.2.0
Pygments==2.4.2
PyHamcrest==1.9.0
pymongo==3.11.1
pyOpenSSL==19.0.0
pyparsing==2.4.6
pyrsistent==0.15.3
PySocks==1.7.1
pyspark==3.0.1
python-dateutil==2.8.0
python-slugify==4.0.0
pytz==2019.3
PyYAML==5.3
pyzmq==18.1.1
qpsolvers==1.1
qtconsole==4.5.2
QtPy==1.9.0
quadprog==0.1.7
queuelib==1.5.0
requests==2.20.0
requests-cache==0.5.2
requests-oauthlib==1.3.0
scikit-learn==0.22.1
scipy==1.4.1
Scrapy==1.7.1
seaborn==0.10.0
selenium==3.141.0
Send2Trash==1.5.0
service-identity==18.1.0
six==1.12.0
sklearn==0.0
soupsieve==1.9.2
tabulate==0.8.7
terminado==0.8.2
testpath==0.4.2
text-unidecode==1.3
tmdbv3api==1.5.1
tornado==6.0.3
tqdm==4.45.0
traitlets==4.3.2
tweepy==3.8.0
Twisted==19.2.1
TwitterAPI==2.5.10
typing==3.7.4.1
urllib3==1.24.3
utils==1.0.1
visitor==0.1.3
w3lib==1.20.0
wcwidth==0.1.7
webdriver-manager==2.5.3
webencodings==0.5.1
webs==0.0.4
Werkzeug==1.0.1
widgetsnbextension==3.5.0
wordcloud==1.6.0
WTForms==2.3.3
yarg==0.1.9
zope.interface==4.6.0
