
.img-car {
    width: 100%; /* You can set the dimensions to whatever you want */
    height: 240px;
    object-fit: cover;
}

.img-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
}

.img-container-block {
    display: block;
}

.card {
    margin-top: 1.25rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#nav {
    background-image: url('../static/img/images.jpeg');
    background-size:33% 100%;
}


