{% extends 'base.html' %}

{% block title %}Index{% endblock title %}


{% block content %}
<h1> Test </h1>

<div class="container">
    <div class="row">
        {% for entry in range(data|length) %}
            <div class="col-md-4 panel text-center">
                <div class="col list-group-item text-center size_hack">
                    <a target=_blank, href={{data[entry][1]}}>
                        <img src="{{data[entry][19]}}" alt="Photo not available" style="max-width: 100%">
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
<div>

{{ paginate.links }}
{% endblock content %}
