{% extends 'base.html' %}

{% block title %}Index{% endblock title %}


{% block content %}

<div class="container-fluid" style="padding:10px">
    <div class="text-center">
        {{ pagination.links }}
    </div>


    <div class="row" >
        <div class="col-lg-6">
            <img class="img-logo" src="../static/img/Craigslist.png">
            <div class="row">
                {% for entry in range(data|length) %}
                    <div class="col-lg-offset-1 col-lg-5">
                        <div class="text-center card">
                            <a target=_blank, href={{data[entry][1]}}>
                                <img class="img-car" src="{{data[entry][19]}}" alt="Photo not available">
                                <ul class="list-group">
                                  <li class="list-group-item">{{ data[entry][5] }}</li>
                                  <li class="list-group-item">{{ data[entry][6] }}</li>
                                  <li class="list-group-item">{{ data[entry][7] }}</li>
                                  <li class="list-group-item">${{data[entry][4] }}</li>
                                  <li class="list-group-item">Located in {{ data[entry][2] }}</li>
                                </ul>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="col-lg-6">
            <img class="img-logo" src="../static/img/TrueCar logo.png">
            <div class="row"  style="background-color: AliceBlue">
                {% for entry in range(TrueCar|length) %}
                    <div class="col-lg-offset-1 col-lg-5">
                        <div class="text-center card">
                            <a target=_blank, href={{ TrueCar[entry]['url'] }}>
                                <img class="img-car" src="{{ TrueCar[entry]['img'] }}" alt="Photo not available">
                                <ul class="list-group">
                                  <li class="list-group-item">{{ TrueCar[entry]['year'] }}</li>
                                  <li class="list-group-item">{{ TrueCar[entry]['manufacturer'] }}</li>
                                  <li class="list-group-item">{{ TrueCar[entry]['model'] }}</li>
                                  <li class="list-group-item">${{ TrueCar[entry]['price'] }}</li>
                                  <li class="list-group-item">Located in LA</li>
                                </ul>
                            </a>

                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
<div>

{% endblock content %}
