{% extends 'base.html' %}

{% block title %}Filter{% endblock title %}

{% block content %}

<div class="container">
	<form id="test" action="/compare" method="POST">
	  <div class="form-row">
		  <div class="form-group col-md-6">
			  <label for="inputLocation">City, State</label>
			  <select name="inputLocation" id="inputLocation" class="form-control">
				  <option selected>Choose...</option>
				  <option>Los Angeles, CA</option>
				  <option>New York City, NY</option>
			  </select>
		  </div>
		<div class="form-group col-md-3">
		  <label for="manufacturer">Manufacturer</label>
		  <input type="text" class="form-control" name="manufacturer" id="manufacturer" placeholder="manufacturer">
		</div>
	  	<div class="form-group col-md-3">
		  <label for="model">Model</label>
		  <input type="text" class="form-control" name="model" id="model" placeholder="model">
		</div>
	  	<div class="form-group col-md-3">
		  <label for="drive_type">Drive Type</label>
		  <input type="text" class="form-control" name="drive_type" id="drive_type" placeholder="Drive Type">
		</div>
	  	<div class="form-group col-md-3">
		  <label for="Fuel">Fuel</label>
		  <input type="text" class="form-control" name="fuel" id="fuel" placeholder="fuel">
		</div>
	  	<div class="form-group col-md-3">
		  <label for="Transmission">Transmission</label>
		  <input type="text" class="form-control" name="transmission"  id="transmission" placeholder="transmission">
		</div>
	  	<div class="form-group col-md-3">
		  <label for="inputOrder">Sort by</label>
		  <select name="sort_by" id="inputOrder" class="form-control">
			<option selected>Choose...</option>
			<option>Mileage</option>
			  <option>Price</option>
			  <option>Year</option>
		  </select>
		</div>
		<div class="form-group col-md-3">
		  <label for="min_price">MinPrice</label>
		  <input type="text" class="form-control" name="min_price" id="min_price" placeholder="min_price">
		</div>
		  <div class="form-group col-md-3">
		  <label for="max_price">MaxPrice</label>
		  <input type="text" class="form-control" name="max_price" id="max_price" placeholder="max_price">
		</div>
		  <div class="form-group col-md-3">
		  <label for="min_year">MinYear</label>
		  <input type="text" class="form-control" name="min_year" id="min_year" placeholder="min_year">
		</div>
		  <div class="form-group col-md-3">
		  <label for="max_year">MaxYear</label>
		  <input type="text" class="form-control" name="max_year" id="max_year" placeholder="max_year">
		</div>
	  <button class="btn btn-danger" type="reset">Reset</button>
	  <button type="submit" class="btn btn-primary" style="float: right;">Submit</button>
	</form>
</div>
{% endblock content %}
