{% extends 'base.html' %}

{% block title %}Index{% endblock title %}

{% block content %}
<div class="Introduction">
    <h1 class="text-center">About</h1>
    <div class="col-md-3"></div>
    <div class="col-md-6" style="font-size:25px;">
        Used Vehicle Search allows users to search used cars from two used cars websites - Craigslist and TrueCar based on their interests, such as manufacturer, model, price etc. The used cars from these two websites will be displayed, and user can compares these cars to pick one with a reasonable price.

        <div class="text-center">
            <h2 class="text-center">Team Memerbers:</h2>
                <p>
                    Jiashi Chen
                </p>
                <p>
                    Zihao Wang
                </p>
                <p>
                    Changmeng Xu
                </p>
            </div>
        </div>

    </div>
    <div class="col-md-3"></div>
</div>

{% endblock content %}